name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Clang
      run: sudo apt-get install -y clang-18 libclang-18-dev
    - name: Build
      run: cargo build --verbose
      working-directory: sennaar-rs
    - name: Run tests
      run: cargo test --verbose
      working-directory: sennaar-rs
